body{
	overflow: hidden;
}
.thumbnail{
	border: 0;
}
.panel{
	margin-bottom: 0px;
	border: 1px solid #ccc;
}
.panel .table{
	margin-bottom: 0px;
}
.panel .table td{
	border: 0px;	
}
.app{
    background-color: #20B2EB;
}
.app {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
}
.app {
    border: 1px solid rgba(31, 83, 160,0);
    text-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    overflow: hidden;
    color: #fff;
   /*  float: left; */
    display: block;
    margin: 10px; 
    -webkit-transition: all 0s .2s;
    -webkit-transition-delay: 0;
    transition: all 0s 0.3s;
    transition-delay: 0;
    position: relative;
    text-align: left;
}

#container{
	overflow: auto;
}
.panel-primary > .panel-heading {
    background-color: #20B2EB;
    border-color: #20B2EB;
}