<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.admin.server.dao.TableDataMapper">
    <select id="findTableName" resultType="java.util.Map">
       SELECT child.hdr_code as tableName, father.hdr_code as dataBaseName FROM VzDataQuality.[dbo].[tb_collectiontask] child
       LEFT JOIN VzDataQuality.[dbo].[tb_collectiontask] father on child.pid=father.id
       where child.id=#{tableId}
    </select>
    <select id="findTableData" resultType="java.util.Map">
        select * from [${dataBaseName}].[dbo].[${tableName}]
        <include refid="where" />
        order by id
        offset ${offset} rows fetch next ${limit} rows only
    </select>
    <sql id="where">
        <where>
            <if test="beginTime!=null and beginTime!=''">
                and createdTime &gt;=#{beginTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                and createdTime &lt;=#{endTime}
            </if>
        </where>
    </sql>
</mapper>